.article-item {
  background-color: #fcf9f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  width: 320px;
  height: 300px;
  overflow: hidden;
  position: relative;

  &:hover {
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
    transform: translateY(-5px);
  }

  .articleauthorinfo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;

    .articleauthorpic {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 15px;
    }

    .articleauthorname {
      font-size: 16px;
      font-weight: bold;
      color: #333;
    }

    .more-icon-container {
      position: absolute;
      right: 0;
    }

    .more-icon {
      cursor: pointer;
    }

    .dropdown-menu {
      position: absolute;
      top: 30px;
      right: 0;
      background-color: #fff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      z-index: 10;

      span {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #f0f0f0;
        }

        svg {
          margin-left: 8px;
        }
      }
    }
  }

  .articlecontent {
    word-wrap: break-word;
    overflow-wrap: break-word;

    .article-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 8px;
      color: #000;
    }

    .article-topics {
      font-size: 14px;
      color: #888;
      margin-top: 30px;

      strong {
        color: #888;
      }
    }

    .card-excerpt {
      color: #555;
      font-size: 16px;
      margin-top: 15px;
      line-height: 1.5;
    }

    .buttons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 15px;
      position: absolute;
      bottom: 20px;
      width: 90%;
      left: 20px;
    
      .like-container, .comment-container {
        display: flex;
        align-items: center;
        cursor: pointer;
    
        .icon-hover {
          margin-right: 5px;
          font-size: 24px;
        }
    
        span {
          font-size: 14px;
          color: #666;
        }
      }
    }
  }
    

}
