Modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 60%;
    height: 60%;
    background-color: white;
    padding: 50px;
    z-index: 999;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    margin-bottom: 5px;
    font-size: 12px;
  }
  
  .MuiInputLabel-root {
    display: inline-block;
    font-weight: normal;
  }
  
  input[type="file"] {
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
  }
  