@import '../../style.scss';

.shopEvent {
    @include themify($themes) {
        padding: 20px;
        background-color: themed('bg');
        font-family: 'Arial', sans-serif;
        color: themed('textColor');

        h1 {
            font-weight: 600;
            color: themed('textColor');
            margin-bottom: 30px;
            text-align: center;
        }

        .event-list {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .event-card {
                background-color: themed('bgSoft');
                padding: 20px;
                margin: 7px;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                transition: background-color 0.3s ease;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;

                h3 {
                    font-size: 24px;
                    font-weight: 600;
                    color: themed('textColor');
                    margin-bottom: 10px;
                    grid-column: span 2;
                }

                .event-detail {
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    color: themed('textColorSoft');
                    margin: 5px 0;

                    .icon {
                        margin-right: 10px;
                        color: themed('textColor');
                    }

                    .info {
                        display: flex;
                        flex-direction: column;

                        strong {
                            color: themed('textColor');
                        }
                    }
                }

                /* Removed event-actions since regular users cannot edit or delete events */
            }
        }

        @include mobile {
            .event-list {
                .event-card {
                    grid-template-columns: 1fr;
                    padding: 15px;

                    .event-detail {
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }
            }
        }
    }
}
