@import "../../style.scss";

.rightBar {
    @include themify($themes){
        flex: 3;
        position: sticky;
        top: 70px;
        height: calc(100vh - 60px);
        overflow: scroll;
        background-color: themed("bgSoft");
        // height: 100%;

        @include mobile{
          display: none;
        }
        @include tablet{
          display: none;
        }

        &::-webkit-scrollbar {
          display: none;
        }
        }

}